@using BlazorWebApp.Util
@using System
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
@using System.Timers;
@using MudBlazor
@inject IDialogService dialogService
@inject IJSRuntime jsRuntime

<head>
    <link rel="stylesheet" href="/css/pages/footer.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
    <div class="contato">
        <div class="meio-contato">
            <a class="link-item" @onclick="OpenDialog">About</a>
            <h3 class="link-item" @onclick="OpenDialog">PopcornMovies</h3>
            <div class="icon-list">
                <a href="https://www.instagram.com/" class="link-item" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a> 
                <a href="https://www.facebook.com/" target="_blank" class="link-item">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://www.twitter.com/" target="_blank" class="link-item">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="https://www.youtube.com/" target="_blank" class="link-item">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
        </div>

        <div class="meio-contato">
            <h3>Explore</h3>
            <span>Home</span>
            <span>Featured</span>
            <span>New</span>
            <span>Contact</span>
        </div>

        <div class="meio-contato">
            <h3>Shopping</h3>
            <span>Store</span>
            <span>Trending</span>
            <span>Ranking</span>
            <span>Free</span>
        </div>
    </div>

    <div class="last-text">
        <p>Copyright © 2024 All rights reserved</p>
    </div>
</body>

@code {
    private string data = "PopcornMovies is a website of the best movies";

    private async Task OpenDialog()
    {
        var result = await jsRuntime.InvokeAsync<bool>("confirm", data);
        if (result)
        {
            // TODO: deletar
        }
    }
}
