.icon-list {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.link-item {
    color: white;
    text-decoration: none;
    font-size: large;
    cursor: pointer;
}

.contato {
    display: flex !important;
    gap: 5rem;
    justify-content: space-around;
    background-color: #111;
    padding: 8rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

.meio-contato h3 {
    color: #fff;
    font-size: 26px;
    margin-bottom: 1.6rem;
}

.meio-contato h5 {
    font-size: 20px;
    font-weight: 600;
    color: #555;
}

.meio-contato span {
    margin-bottom: 20px;
    display: block;
    color: #555;
    font-weight: 600;
    transition: all .35s ease;
}

.last-text {
    text-align: center;
    background-color: #555;
    color: #fff;
}
