body {
    color: #ffffff;
}

.form-group label {
    color: #ffffff;
}

.form-control {
    background-color: #ffffff;
    color: #000000;
}

.btn-primary {
    background-color: #700f92;
    border-color: #581464;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #3e0a55;
    border-color: #1f0729;
    color: #ffffff;
}

.form-container {
    max-width: 600px;
    margin: 15rem;
    background-color: #9c27b0;
    border-radius: 30px;
    padding: 1rem;
    padding-right: 2rem;
    padding-right: 2rem;
}

.items-container {
    margin-top: 1rem;
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sign-in-item {
    color: white;
    margin: 0.7rem;
}

.align-items {
    display: flex;
    justify-content: center;
}
